<!DOCTYPE html>
<html lang="ko" 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>best</title>
</head>
<body>
   <div layout:fragment="content" class="content content1">
      <h1>상품 데이터 출력</h1>
      
      상품명 : <span th:text="${itmeDto.itemNm}"></span><br />
      상품 설명 : <span th:text="${itmeDto.itemDetail}"></span><br />
      상품 판매상태 : <span th:text="${itmeDto.sellStatCd}"></span><br />
      상품 아이디 : <span th:text="${itmeDto.id}"></span><br />
      상품 가격 : <span th:text="${itmeDto.price}"></span><br />
      상품 등록날짜 : <span th:text="${itmeDto.regTime}"></span><br />
      상품 수정날짜: <span th:text="${itmeDto.updateTime}"></span><br />
   </div>
</body>
</html>